------------------------------------------------------------
-- CREAR BASE DE DATOS
------------------------------------------------------------
CREATE DATABASE tpIntegradorDB;
GO

USE tpIntegradorDB;
GO

------------------------------------------------------------
-- TABLA: RESIDENTES
------------------------------------------------------------
CREATE TABLE residentes(
    residenteId      varchar(36) NOT NULL PRIMARY KEY,
    nombre           varchar(50) NOT NULL,
    apellido         varchar(50) NOT NULL,
    departamento     varchar(10) NOT NULL,
    telefono         varchar(30) NOT NULL,
    email            varchar(100) NOT NULL,
    pref_notif       varchar(10) NOT NULL
);
GO

------------------------------------------------------------
-- TABLA: REPARTIDORES
------------------------------------------------------------
CREATE TABLE repartidores(
    repartidorId     varchar(36) NOT NULL PRIMARY KEY,
    nombre           varchar(50) NOT NULL,
    apellido         varchar(50) NOT NULL,
    empresa          varchar(100) NOT NULL,
    legajo_numero    varchar(30) NOT NULL,
    telefono         varchar(30) NOT NULL,
    credencial_valida bit NOT NULL
);
GO

------------------------------------------------------------
-- TABLA: LOCKERS
------------------------------------------------------------
CREATE TABLE lockers(
    lockerId          int IDENTITY(1,1) NOT NULL PRIMARY KEY,
    ubicacion         varchar(100) NOT NULL,
    tamano            varchar(10) NOT NULL,
    estado            varchar(15) NOT NULL,
    codigo_actual     varchar(50) NOT NULL,
    fecha_deposito    datetime NOT NULL,
    tracking_paquete  varchar(50) NOT NULL,---no deberia estar
    ultima_mantencion datetime NOT NULL,
    residenteId       varchar(36),
    repartidorId      varchar(36),
    FOREIGN KEY (residenteId) REFERENCES residentes(residenteId),
    FOREIGN KEY (repartidorId) REFERENCES repartidores(repartidorId)
);
GO

------------------------------------------------------------
-- TABLA: USUARIO
------------------------------------------------------------

CREATE TABLE usuario(
    usuario_id       varchar(36) NOT NULL PRIMARY KEY,
    nombre_usuario   varchar(50) NOT NULL UNIQUE,
    contraseña       varchar(255) NOT NULL,
    rol              varchar(20) NOT NULL,
);
GO





