<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dbConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=tpIntegradorDB;Integrated Security=True;Trust Server Certificate=True" />
    </connectionStrings>
</configuration>